<h1>Hola profe!</h1>
<br>
<input type="file" accept="image/*" (change)="fileChangeEvent($event)" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    style="max-width: 35rem"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>
<ion-button (click)="this.submitImage()">Subir</ion-button>

<h4>Imagen en backend:</h4>
<img src="http://localhost/back/public/shared_picture" />
<br>
<h4>Imagen recortada:</h4>
<img [src]="croppedImage" />
